configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];  
  hover-select: true;
  me-select-entry: "";
  me-accept-entry: [MousePrimary];
}
 
@theme "default_theme"

/* Insert theme modifications after this */

inputbar {
  children: [prompt,entry,overlay,case-indicator];
}

entry {
    placeholder: " Type here";    
}

element {
  orientation: horizontal;
  children: [ element-icon, element-text ];
  spacing: 5px;
}
