configuration {
	show-icons:		true;
	sidebar-mode: 	true;
	hover-select: true;
	me-select-entry: "";
	me-accept-entry: [MousePrimary];
}

@theme "dracula1"

window {
	y-offset: -26;	
	padding: 			15;
}
mainbox {
	border:		0;
	padding: 	0;
}

listview {
	spacing:		4px;
	dynamic:		true;
	fixed-height:	false;
	border:			0;
	scrollbar:		false;
}
element {
	border:			0;
	padding:		0;
	border-radius:	4px;
}

mode-switcher {
	border:	0;
}

inputbar {
	enabled: false;	
}
